modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "node --enable-source-maps artifacts/api-server/dist/index.mjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev & PORT=22204 BASE_PATH=/ pnpm --filter @workspace/grocery-store run dev"
waitForPort = 22204

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJ1k3in1xXTkYpMCtFot9fA42T0PYpodJNWnYf3MwWHwgWRUVPUKoQJgbbdXW3dWPKo5aOH4MmIKmTy2CUbKUc8"
VAPID_SUBJECT = "mailto:admin@freshveggies.app"
VAPID_PRIVATE_KEY = "qH5P-AJHQDckOIUFQbb7h6sDns24brsHPaxbtXAwjug"
